.select {
  width: 100%;
  position: relative;

  .label {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #09101D;
    margin-bottom: 5px;
  }

  svg {
    position: absolute;
    top: calc(50% - 12px);
    right: 10px;
  }

  .input-block {
    width: 100%;
    height: 100%;
    position: relative;
  }

  input {
    width: 100%;
    height: 46px;
    outline: none;
    background: #ffffff;
    border: 2px solid #4141E7;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #09101D;
    cursor: pointer;

    &::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #DADEE3;
    }
  }

  .select-menu {
    list-style: none;
    display: block;
    position: absolute;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: all .5s ease-in-out;
    z-index: -1;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 0 10px 2px rgba(#000, .3);

    .menu-item {
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background: #d3d1d1;
      }
    }

    &.show {
      opacity: 1;
      z-index: 9;
    }
  }
}

@media (max-width: 647px) {
  .select {

    input {
      height: 30px;
    }
  }
}
